body{
width: 800px;
height: 600px;
margin: 0 auto;
background-image:url('../img/bg.png');
}
.fundo{
width: 800px;
height: 600px;
position: absolute;
z-index: 0;
padding: 50px;
}
.faca{
position: relative;
top:420px;
left: 370px;
}
.rato{
position: relative;
top:299px;
left: 640px;	
}
.mangual{
position: relative;
top:450px;
left:-120px;
transform: rotate(-20deg);
}
.machado{
position: relative;
top:147px;
right: 100px;
transform: rotate(-78deg);
}
.saw{
position: relative;	
top:-50px;
left:609px;
transform: rotate(-7deg);	
}
.crossbow{
position: relative;
top:-200px;
left:250px;
transform: rotate(0deg);	
}

.moldura{
	position: absolute;
	z-index: 1;
}
.caderno{
	position: absolute;
	top:0px;
	left: 0px;
}
.texto{
	position: absolute;
	top: 80px;
	left: 100px;
	font-size:25px;
}
.txt-riscado{
  text-decoration: line-through;
}
.anim-saw{
  animation: saw 2s;
}
  @keyframes saw {
   0%{transform: rotate(0deg);}
  100%{ transform: rotate(360deg);}
}
.anim-faca{
  animation: faca 2s;
}
  @keyframes faca {
  0%{transform: scale(1);}
  50%{transform: scale(2);}
  100%{ transform: scale(1);}
}
.anim-mangual{
  animation: mangual 2s;
}
  @keyframes mangual {
  0%{transform: scale(1);}
  50%{transform: scale(2);}
  100%{ transform: scale(1);}
}
.anim-machado{
  animation: machado 2s;
}
@keyframes machado {
  0%{transform: rotate(0deg);}
  100%{ transform: rotate(360deg);}
}

.anim-crossbow{
  animation: crossbow 2s;
}
  @keyframes crossbow {
  0%{transform: scale(1);}
  50%{transform: scale(2);}
  100%{ transform: scale(1);}
}
.anim-rato{
  animation: crossbow 2s;
}
  @keyframes rato {
  0%{transform: scale(1);}
  50%{transform: scale(2);}
  100%{ transform: scale(1);}
}